h1,
body {
	font-family: "Roboto Mono", sans-serif;
}

.footer_class {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: large;
	background-color: aqua;
}

/* img {
	width: 400px;
	min-height: 250px;
	float: left;
	/* margin: 5px; */
	object-fit: cover;
	/* overflow: hidden; */
} 
*/
